@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
	margin: 0;	
	font-family: "Google Sans", sans-serif;
}



.container { /*All sections have this container to make it easier to make website responsive and control elements*/
	max-width: 1200px;
	padding: 16px;
	margin: auto;
	
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #944240;
    padding: 15px 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
}

.nav-links a{
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.nav-links a:hover{
	color: #d8f7f8;
	text-decoration: underline;
}

#header {
	background-color: #801414;
	min-height: 500px;	
}


.head {
	width: 900px;
	height: 500px;
	background-color: white;
	border-radius: 0 250px 250px 0;
}

.text-box {
	padding: 120px 0 0  100px;
	
}

.text-box h1{
	font-size: 100px;	
	color: #801414;
}
	
	

#about-us .container-about { 
	display: flex;
	background-color: #f5eee6;

}

#about-us .box1{
	height: auto;
	width: 100%;
	background-image: url(../images/placeholder.webp);
	background-image: cover;
	min-height: 700px;
	
}


#about-us .box2{
	height: auto;
	width: 100%;
	background-color: #eee5db;
	margin: 20px;
	min-height: 700px;
	
}

#about-us .box2 h1{
	font-size: 50px;
	color: #801414;
	margin-left: 50px;
	
}

#about-us .box2 p{
	font-size: 20px;
	color: #801414;
	margin-left: 50px;
	line-height: 2.5rem;
	margin-right: 100px;
	
}



#mission {
	background-color: #e6dad1; 
	height: 300px;	
	text-align: center;
}

#mission h1{
	font-size: 65px;
	color: #801414;
	
}




#solune .container{
	width: 700px;
	margin: auto;
	
}

#solune .container .row{
	width: 80%;
	margin: auto;
	
}

.sol-gradient {
	background: linear-gradient(90deg,#edc224,#dfc9a4);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}

.lune-gradient {
	background: linear-gradient(90deg,#aaa9a9,#000000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}
  


#solune .container .row h1{
	text-align: center;	
	font-size: 50px;
	color: #801414;
	margin-top: 100px;
}


.icon-content hr {
	background-color: #c4005c;
	height: 3px;
	width: 50%;
	
}


#solune .container .icons{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 50px;
	margin-top: 70px;
		
}

#solune .container .icons .icon{
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex-direction: column;
	
	
}

#solune .container .icons .icon .image-section img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 6px solid #000;
	
	
}


#solune .container .icons .icon .icon-content {
		
	width: 100%;
	text-align: center;
	
}


#solune .container .icons .icon .icon-content h2{
	font-size: 27px;
	margin-top: 10px;
	letter-spacing: 1.5px;
	color: black;
	
	
}

#solune .container .icons .icon .icon-content h4 {
	font-size: 17px;
	margin-top: 10px;
	letter-spacing: 1.5px;
	color: black;
	
}


#solune .container .icons .icon .icon-content p{
	
	font-size: 14px;
	margin-top: 10px;
	letter-spacing: 1.5px;
	color: black;
	
}






#interested{
	background-color: white;
	height: 450px;
	text-align: center;
	margin-top: 60px;
	
}


#interested h1{
	font-size: 60px;
	color: #801414;
	
}

#interested p{
	font-size: 20px;
	color: #801414;	
	
}






#interested .button {
	display: inline-block;
	border-radius: 50px;
	background-color: #e6dad1;
	border: none;
	color: #9d0032;
	text-align: center;
	font-size: 16px;
	padding: 20px;
	width: 200px;
	cursor: pointer;
	margin: 30px;
}

#interested .button span {
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

#interested .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	right: -20px;
	transition: 0.5s;
	color: #9d0032;
}

#interested .button:hover span {
	padding-right: 25px;
}

#interested .button:hover span:after {
	opacity: 1;
	right: 0;
}


#interested .button span a{
	color: #9d0032;
	text-decoration: none;
	font-size: 16px;
}

#interested .button span a:hover{
	color: #9d0032;
	text-decoration: underline;
}






.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5.5rem;
    background: #f6f1ee;
    padding: 80px 13% 70px;
    border-radius: 70px 70px 0 0;
}

.footerlogo {
    width: 300px;
    margin-top: 50px;
}

.footer p{ 
	font-size: 15px;
	
}

.footer-content h4 {
    color: #801414;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content ul {
    padding: 0;
    margin: 0;
}

.footer-content li {
    margin-bottom: 16px;
    list-style: none;
}

.footer-content li a {
    display: block;
    color: #801414;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer-content li a:hover {
    color: #db8102;
}

.footer-content {
    color: #801414;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0;
}

.footer-content p {
    text-align: left;
	font-size: 14px;
}

.footer-content i {
    width: 30px;
    color: #801414;
    height: auto;
}
