body{
	margin: 0;	
}

#header{
	height: 500px;
	background-color: pink;
	
}

.pre-order{
	height: auto;	
	margin: 100px;
	
}

h1 {
	font-size: 50px;
}


.pre-order .container{
	margin-top: 100px;
	padding: 32px;
	
}

.selection-area{
	display: flex;
	align-items: center;
	gap: 80px;
	margin-left: 130px;
	
	
}

.order-image img{
	width: 400px;
	height: 500px;
	object-fit: cover;
	
}

.selection-option{
	display: flex;
	flex-direction: column;
	gap: 20px;
	
}

.select-box{
	display: flex;
	width: 400px;
	flex-direction: column;
	
}

.select-box .options-container{
	background: #2f3650;
	color: #fff;
	max-height: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
	border-radius: 8px;
	overflow: hidden;
	
	order: 1; /*to make the select div come before the list of stuff*/
	
	
}

.selected{
	background: #2f3640;
	border-radius: 8px;
	margin-bottom: 8px;
	color: #fff;
	position: relative;
	
	order: 0; /*so that it will always be before the options*/
	
}

.selected::after{
	content: "";
	background: url(../images/arrow.png);
	background-size: contain;
	background-repeat: no-repeat;
	
	position: absolute;
	height: 100%;
	width: 32px;
	right: 10px;
	top: 5px;
	
	transition: all 0.4s;	
}

.select-box .options-container.active + .selected::after{
	transform: rotateX(180deg); /*This will rotate the arrow upwords*/
	top: -6px;
	
}

.select-box .options-container.active{
	max-height: 240px;
	opacity: 1;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.select-box .options-container::-webkit-scrollbar {
	width: 8px;
	background: #0d141f;
	border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb{
	background: #525861;
	border-radius: 0 8px 8px 0;
}


.select-box .option,
.selected{
	padding: 12px 24px;
	cursor: pointer;
}

.select-box .option:hover{
	background: pink;
}

.select-box label{
	cursor: pointer;	
}


/*to hide radio buttons*/

.select-box .option .radio{
	display: none;	
	
}




footer { /*This footer applies to all pages*/
	background-color: green;	
	height: auto;
	position: relative;
	padding: 50px 100px;

	
}

footer .container{
	width: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	grid-gap: 20px;
}

footer .container .quicklinks h2{
	
	position: relative;
	color: white;
	font-weight: 600;
	margin-bottom: 15px;
		
	
}

footer .container .quicklinks2 h2{
	
	position: relative;
	color: white;
	font-weight: 600;
	margin-bottom: 15px;
		
	
}

footer .container .contact h2{
	
	position: relative;
	color: white;
	font-weight: 600;
	margin-bottom: 15px;
		
	