@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
   	box-sizing: border-box;	

}

body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	font-family: "Google Sans", sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #944240;
    padding: 15px 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: 0;
    padding: 0;
}

.nav-links a{
	color: white;
	text-decoration: none;
	font-size: 18px;
}

.nav-links a:hover{
	color: #d8f7f8;
	text-decoration: underline;
}

#header {
	background-color: #801414;
	min-height: 500px;	
}


.head {
	width: 900px;
	height: 500px;
	background-color: white;
	border-radius: 0 250px 250px 0;
}

.text-box {
	padding: 120px 0 0  100px;
	
}

.text-box h1{
	font-size: 100px;	
	color: #801414;
}


.product-container{
	width: 100%;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0;
	
}

.product{
	width: 90%;
	max-width: 750px;
	display: flex;
	align-items: stretch;
	
}

.gallery{
	flex: 1;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 600px;
}

.gallery img{
	width: 400px;
	height: 450px;
	display: block;
	padding-top: 0;
	object-fit: cover;
	
}

.details {
	flex: 1;
	background: #fff;
	padding: 80px 40px 40px 40px;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	
}

.details h1{
	color: #801414;
	font-size: 34px;
	
}

.details h2{
	color: #db8102;
	font-size: 30px;
	font-weight: 600;
}

.details h3{
	color: #944240;
	margin-bottom: 20px;
}

.details p{
	color: #000;	
	
}


.details form{
	font-size: 15px;
	font-weight: 400;
}

.color-select{
	display: flex;
	align-items: center;
	margin-top: 20px;
	
}

.color-select p{
	width: 75px;	
	
}

.color-select span{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 50%;
	margin-right: 15px;
	cursor: pointer;
	
}

.color-1{
	background: #801414;	
	
}

.color-2{
	background: #e0c9db;	
	
}

.color-3{
	background: #c4305f;	
	
}

.color-select input{
	display: none;	
	
}

.color-select input:checked + span{
	transform: scale(0.7);
	box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
	
}

.color-select-2{
	display: flex;
	align-items: center;
	margin-top: 20px;
	
}

.color-select-2 p{
	width: 75px;	
	
}

.color-select-2 span{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin-right: 50%;
	margin-right: 15px;
	cursor: pointer;
	
}

.color-4{
	background: #60412e;	
	
}

.color-5{
	background: #000;	
	
}

.color-6{
	background: #801414;	
	
}

.color-7{
	background: #e0c9db;	
	
}
.color-8{
	background: #c4305f;	
	
}

.color-9{
	background: #cef5f6;	
	
}


.color-select-2 input{
	display: none;	
	
}

.color-select-2 input:checked + span{
	transform: scale(0.7);
	box-shadow: 0 0 0 4px #fff, 0 0 0 6px #000;
	
}

.quantity-select{
	display: flex;
	align-items: center;
	margin-top: 20px;
	
}

.quantity-select p{
	width: 75px;	

}

.quantity-select input{
	background: #eee;
	border: 0;
	outline: 0;
	padding: 2px 2px 2px 15px;
	width: 50px;
	border-radius: 12px;

}


/*PRODUCT INFORMATION (THE DROP DOWN BOXES)*/


.information{
	height: auto;	
	margin: 100px 0;
	
}

.information .container{
	margin-top: 100px;
	padding: 32px;
	
}

.selection-area{
	display: flex;
	justify-content: center;
	width: 100%;
}


.selection-option{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 900px;
	max-width: 90%;
	
}

.select-box{
	display: flex;
	width: 900px;
	flex-direction: column;
	
}

.select-box .options-container{
	background: #faf4f4;
	color: #944240;
	max-height: 0;
	width: 100%;
	opacity: 0;
	transition: all 0.4s;
	border-radius: 8px;
	overflow: hidden;
	
	order: 1; /*to make the select div come before the list of stuff*/
	
	
}

.selected{
	background: #944240;
	border-radius: 8px;
	margin-bottom: 8px;
	color: #faf4f4;
	position: relative;
	
	order: 0; /*so that it will always be before the options*/
	
}

.selected::after{
	content: "";
	background: url(../images/arrow.png);
	background-size: contain;
	background-repeat: no-repeat;
	
	position: absolute;
	height: 100%;
	width: 32px;
	right: 10px;
	top: 5px;
	
	transition: all 0.4s;	
}

.select-box .options-container.active + .selected::after{
	transform: rotateX(180deg); /*This will rotate the arrow upwords*/
	top: -6px;
	
}

.select-box .options-container.active{
	max-height: 240px;
	opacity: 1;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.select-box .options-container::-webkit-scrollbar {
	width: 8px;
	background: #0d141f;
	border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb{
	background: #525861;
	border-radius: 0 8px 8px 0;
}


.select-box .option,
.selected{
	padding: 12px 24px;
	cursor: pointer;
}





/*to hide radio buttons*/

.select-box .option .radio{
	display: none;	
	
}


.headliner {
	max-width: 1300px;
	margin: auto;
	padding: 16px;	
	
}

.headliner h1{ 
	text-align: center;
	font-size: 50px;
}


.byo { 
	width: 100%;
	
}

.byo .container{
	width: 100%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	
}

.byo .container .row{
	width: 80%;
	margin: auto;
	
}


.byo h1{
	font-size: 50px;
	text-align: center;

	
	
}


.byo hr{
	height: 5px;
	background-color: black;
	width: 40%;
	margin-top: -20px;
	
}




.byo .container .icons{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	margin-top: 70px auto 0;
		
}

.byo .container .icons .icon{
	width: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex-direction: column;
	
	
}

.byo .container .icons .icon .image-section img {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 3px solid #801414;
	
	
}


.byo .container .icons .icon .icon-content {
		
	width: 100%;
	text-align: center;
	
}


.byo .container .icons .icon .icon-content h4{
	font-size: 27px;
	margin-top: 10px;
	letter-spacing: 1.5px;
	color: #801414;
	
	
}

.byo .container .icons .icon .icon-content p {
	font-size: 17px;
	margin-top: 10px;
	letter-spacing: 1.5px;
	color: #d15454;
	
}

/*BUTTON TO PRE-ORDER*/

.headliner h1{
	color: #801414;
	font-size: 50px;
}

.button-container{
	display: flex;
	justify-content: center;
	margin-top: 5px;
	margin-bottom: 100px;
	
}

.button {
	background-color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 100px;
	border: 2px solid #801414;	
	color: #801414;
}


.button:hover {
	background-color: #801414;
	color: #fff;
}



.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 5.5rem;
    background: #f6f1ee;
    padding: 80px 13% 70px;
    border-radius: 70px 70px 0 0;
}



.footerlogo {
    width: 300px;
   	margin: 0;
	display: block;
}

.footer-content h4 {
    color: #801414;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content ul {
    padding: 0;
    margin: 0;
}

.footer-content li {
    display: flex;
	align-items: center;
	gap: 20px;
	margin-bottom: 16px;
	list-style: none;
}

.footer-content li i{
	width: 25px;
	min-width: 25px;
	color: #801414;
	text-align: center;
	
}

.footer-content li a {
    display: block;
    color: #801414;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.footer-content li a:hover {
    color: #db8102;
}

.footer-content {
    color: #801414;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0;
}

.footer-content p {
    text-align: left;
	font-size: 14px;
}

.copyright {
	margin-top: 40px;
	font-size: 13px;
	
}


.footer-content li p {
	margin: 0;
	font-size 14px;
	
}

.footer-content i {
    width: 30px;
    color: #801414;
    height: auto;
	gap: 20px
}


